body{
    background: #E5E5E5;
}
.row{
    margin-top: 40px;
    margin-left: 400px;
    font-size: 20px;
    color: #0E3FB8;
}
h1{
    margin-top: 35px;
    margin-left: 105px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #000000;
}
.header_form{
    position: absolute;
    width: 1459px;
    height: 829px;
    left: -3px;
    top: 0px;

    background: url("./images/image 1.png") no-repeat;
}
.footer_form{
    position: absolute;
    width: 1459px;
    height: 829px;
    left: -3px;
    top: 675px;

    background: url("./images/image 2.png") no-repeat;
}
.container{
    position: absolute;
    width: 764px;
    height: 992px;
    left: 239px;
    top: 186px;
    z-index: 100;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
label{
    margin-left: 132px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;
}
.form-control{
    margin-left: 128px;
    height: 40px;
    width: 350px;
}
.btn{
    margin-left: 128px;
    margin-bottom: 323px;
    height: 40px;
    width: 350px;
    background: #4ED27B;
}
